@media print {
    @page {
        size: 60mm 40mm;
        margin: 0;
    }

    .el-drawer__header, #app-body {
        display: none;
    }
    .el-drawer__wrapper{
        position: relative;
    }

    .bottom-btn-body{
        display: none;
    }
    #app-body{
        display: none;
    }
}
