@media print {
    @page {
        size: 60mm 40mm;
        margin: 0;
    }

    *::-webkit-scrollbar {
        display: none;
    }

    .el-drawer__header {
        display: none !important;
    }
    .el-drawer__wrapper{
        position: relative !important;
    }

    .bottom-btn-body{
        display: none !important;
    }
    #app-body{
        display: none !important;
    }
}
