/*表格滚动固定标题共用样式*/
.my-table-float{
    width: 100%;
    /*>.el-table__header-wrapper{
        
    }*/
    >.my-table-float__header-wrapper{
        >.el-table__header{
            border-bottom: 1px solid #eee;
        }
        position: fixed;
        z-index: 2;
        top: 0;
    }
}

/*表格操作*/
.table-option-body{
    >.cell{
        overflow: visible !important;
        display: flex;
        justify-content: center;
    }
}

.table-option{
    position: relative;
    top: -20px;
    >div{
        position: absolute;
        background: #fff;
        padding: 5px 0;
        >a{
            display: none;
            text-align: center;
            padding: 2px 5px;
            font-size: 12px;
            white-space: nowrap;
            &:hover{
                background: #ececec;
            }
        }
        >a:first-child{
            display: block;
            text-align: center;
        }
    }
}
.hover-row .table-option{
    >div{
        z-index: 2;
        box-shadow: 0 0 5px rgba($color: #000, $alpha: 0.3);
        border-radius: 5px;
        >a{
            display: block !important;
        }
    }
}
.table-operate-tr{
    padding: 0px !important;
    position: relative;
    >.cell{
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
}