/*弹框共用*/
.my-add-edit-drawer{
    left: 180px !important;
    top: 42px !important;
    width: calc(100% - 180px) !important;
    height: calc(100% - 42px) !important;
    >.el-drawer__header{
        font-size: 18px;
        border-bottom: 1px solid #ececec;
        margin: 0 !important;
        padding: 8px 16px !important;
    }
    >.el-drawer__body{
        overflow: auto !important;
        padding: 15px 0;
        min-width: 1000px;
    }
}

.drawer-bottom{
    margin: 50px 110px 0;
}